<div id="<%= dom_id project %>">
  <p>
    <strong>Repo link:</strong>
    <%= project.repo_link %>
  </p>

  <p>
    <strong>Live link:</strong>
    <%= project.live_link %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= project.picture %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

</div>
